<p id="notice"><%= notice %></p>

<h1 class="text-center">Authors</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"><%= link_to 'New Author', new_author_path, :class => "btn btn-outline-success" %></th>
    </tr>
  </thead>

  <tbody>
    <% @authors.each do |author| %>
      <tr>
        <td><%= author.name %></td>
        <td><%= link_to 'Show', author , :class => "btn btn-outline-primary"%></td>
        <td><%= link_to 'Edit', edit_author_path(author), :class => "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', author, method: :delete, :class => "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


