<p id="notice"><%= notice %></p>

<h1 class="text-center">Clients</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"><%= link_to 'New Client', new_client_path, :class => "btn btn-outline-success" %></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= link_to 'Show', client, :class=> "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_client_path(client), :class=> "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', client, method: :delete, :class=> "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

