
<h1 class="text-center">Bem vindo</h1>
    <div class="container ml-auto mr-auto">
        <div class="row justify-content-center">
            <div class="col text-center">
                <%= link_to "Clientes",clients_path, :class => "btn btn-light" %>
                <%= link_to "Livros",books_path, :class => "btn btn-light" %>
                <%= link_to "Reservas",reservations_path, :class =>"btn btn-light" %>
                <%= link_to "Autores",authors_path, :class =>"btn btn-light" %>
                <%= link_to "Bibliotecarios",librarians_path, :class =>"btn btn-light" %>
            </div>
        </div>
    </div>
