<p id="notice"><%= notice %></p>

<h1 class="text-center">Books</h1>


<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Author</th>
      <th colspan="3"><%= link_to 'New Book', new_book_path, :class => "btn btn-outline-success" %></th>
    </tr>
  </thead>

  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= book.name %></td>
        <td><%= book.author.name %></td>
        <td><%= link_to 'Show', book, :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_book_path(book), :class => "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', book, method: :delete, :class => "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


