<p id="notice"><%= notice %></p>

<h1 class="text-center">Reservations</h1>

<%= search_form_for @q do |f| %>    
  <span>Cliente: </span>
  <%= f.search_field :client_name_cont %>

  <span>Bibliotecario: </span>
  <%= f.search_field :librarian_name_cont %>
  
  <span>Livro: </span>
  <%= f.search_field :book_name_cont %>
  <span>Ativa: </span>
  <%= f.select :active_eq, [['Sim', true], ['Não', false]], include_blank: 'All' %>
  <%= f.submit %>
  <% end %>


<table class="table">
  <thead>
    <tr>
      <th>Book</th>
      <th>Client</th>
      <th>Librarian</th>
      <th>Active</th>
      <th colspan="3"><%= link_to 'New Reservation', new_reservation_path, :class => "btn btn-outline-success" %></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.book.name %></td>
        <td><%= reservation.client.name %></td>
        <td><%= reservation.librarian.name %></td>
        <td><%= reservation.active %></td>
        <td><%= link_to "Show",reservation, :class => "btn btn-outline-primary" %></td>
        <td id="edit"><%= link_to 'Edit', edit_reservation_path(reservation), :class => "btn btn-outline-secondary" %></td>
        <td id="destroy"><%= link_to 'Destroy', reservation, method: :delete,:class => "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>