<p id="notice"><%= notice %></p>

<h1 class="text-center">Librarians</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th>Password</th>
      <th>Password confirmation</th>
      <th colspan="3"><%= link_to 'New Librarian', new_librarian_path, :class => "btn btn-outline-success" %></th>
    </tr>
  </thead>

  <tbody>
    <% @librarians.each do |librarian| %>
      <tr>
        <td><%= librarian.name %></td>
        <td><%= librarian.email %></td>
        <td><%= librarian.password %></td>
        <td><%= librarian.password_confirmation %></td>
        <td><%= link_to 'Show', librarian, :class => "btn btn-outline-primary" %></td>
        <td><%= link_to 'Edit', edit_librarian_path(librarian), :class => "btn btn-outline-secondary" %></td>
        <td><%= link_to 'Destroy', librarian, method: :delete, :class => "btn btn-outline-danger", data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


