<!DOCTYPE html>
<html>
  <head>
    <title>Biblioteca2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    
    <nav class="navbar navbar-light bg-light">
    <%-if current_librarian %>
      <%=link_to "Sair", destroy_librarian_session_path, method: :delete, :class=>"btn" %>    
    <% end %>
    <%= link_to "Home",home_index_path, :class=>"btn" %>
    </nav>
    <%= yield %>
  </body>
</html>
